@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Global */
body{
    --couleur-header: #4ca4be; 
    --couleur-header-fonce: #257f9b;
    --couleur-bleuPale: #bcd4db5d;
    --couleur-fond: #f7f8f2;
    --couleur-fond-fonce: #dddccf;

    padding: 0;
    margin: 0;
    height: 100vh;
    font-size: 16px;
    color: black;
    background-color: var(--couleur-fond);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    min-width: 600px;
    background-image: url("/images/backgroundTest.png");
    background-repeat: repeat;
    background-size: 50%;
    line-height: 1.5em;
}

h1, h2, h3, h4{
    font-weight: 400;
    margin: 0;
}

a{
    display: inline-block;
    text-decoration: none;
    color: black;
}

main{
    min-height: 80vh;
    margin: 1em auto;
    padding: 1em;
    width: 70vw;
    min-width: 700px;
    text-align: center;
}

section{
    background-color: var(--couleur-bleuPale);
    border-radius: 1em;
    padding: 1em;
    margin: 2em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2em;
}
  
.column {
    flex: 50%;
}

img{
    border-radius: 0.5em;
}

.image{
    background-repeat: no-repeat;
    background-position: bottom;
    height: 500px;
    min-width: 400px;
}

.imageCode{
    background-repeat: no-repeat;
    background-position: bottom;
    height: auto;
    width: 100%;
    min-width: 400px;
}

.test{
    width: 100%;
    height: auto;
}

.cover{
    background-size: cover;
}

.contain{
    background-size: contain;
}

.filet{
    width: 20%;
    height: 1px;
    background-color: var(--couleur-header-fonce);
    margin: 1em auto;
}

/* Button vers top */

.topButton{
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    border: 1px white solid;
    background-color: var(--couleur-header);
    color: white;
    border-radius: 2em;
    padding: 0.5em;
    cursor: pointer;
}



/* Header */

header .barreHeader{
    background-color: var(--couleur-header);
    width: 100%;
    height: 20px;
    margin-bottom: 1em;
}

header h1{
    padding: 0.1em;
    font-size: 3em;
    font-weight: 400;
}

header h3{
    padding: 1em;
    font-weight: 300;
    font-style: italic;

}

header nav{
    padding: 0.8em;
}

header img{
    height: 200px;
    width: 200px;
}

header nav a, a:link, a:visited{
    color: black;
    padding: 1em;
    border-radius: 0.5em;
}

header nav a:hover{
    color: white;
    background-color: var(--couleur-header);
    transition: 0.5s;
}

header nav a.active{
    color: white;
    background-color: var(--couleur-header-fonce);
}

header div.filet{
    height: 0.5px;
    width: 40%;
    background-color: var(--couleur-header);
    margin: 1em auto;
}

/* Fil d'arianne */
.arianne{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

.arianne a{
    padding: 0em;
}

.arianne *{
    padding: 0 0.2em;
}


/* Main */

main h2{
    font-size: 2em;
    padding: 1em;
}

main h3{
    font-weight: 300;
    font-size: 1.5em;
    padding: 0.5em;
}


main .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

main .item{
    width: 20em;
    background-color: white;
    padding: 1em;
    margin: 1em;
    box-shadow: 1px 1px 2px 1px #a3a3a3;
    border-radius: 0.5em;
}

main .item:hover{
    transform: scale(1.02);
    transition: transform 0.5s;
}

main .item img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 0.5em;
}

main .item h4{
    font-weight: 500;
    color: var(--couleur-header-fonce);
    font-size: 1.5em;
    padding: 0em;
}

.listeProjet{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--couleur-header-fonce);
    border-radius: 1em;
    margin: 0 auto;
    width: 40vw;
}

.listeProjet a{
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 0.5em;
}

.listeProjet a:hover{
    background-color: var(--couleur-header);
}


/* Section propos */

.propos article{
    text-align: left;
}

.propos h3{
    padding: 1.5em;
    font-weight: 400;
    color: var(--couleur-header-fonce);
}

.propos h4{
    font-size: 1.2em;
    color: var(--couleur-header-fonce);
}

.propos p{
    padding: 1em 4em;
}

.propos ul{
    padding: 0;
}

.propos li{
    list-style: none;
    padding: 0.5em;
}

.propos > h3 {
    padding: 1em 0;
}

.propos .competence{
    text-align: center;
}

.propos .row.comp{
    align-items:flex-start;
}

/* Section projet */

.backButton{
    position: fixed;
    bottom: 80px;
    right: 23px;
}

.backButton span{
    border: 1px white solid;
    background-color: var(--couleur-header);
    color: white;
    border-radius: 2em;
    padding: 0.3em;
}

.resumeProjet{
    text-align: left;
}

.resumeProjet h2{
    padding: 0.5em 1em 0em 1em;
}

.resumeProjet p{
    padding: 1em 3em;
}

.resumeProjet h3{
    padding: 1em 2em;
}

.resumeProjet ul{
    padding: 0 5em;
}

.flex{
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex>img{
    width: 200px;
    height: 200px;
    margin: 1em;
    position: relative;
    object-fit: contain;
}

.flex>img:hover{
    transform: scale(3.5);
    transition: transform 0.5s, margin-bottom 0.5s;
    margin-bottom: 10em;
    z-index: 99;
}

/* Section contact */

section.contact p{
    padding: 0 1em;
    text-align: center;
}

section.contact li{
    display: flex;
    align-items: center;
    justify-content: left;
}

section.contact .mailbox{
    width: 500px;
}

section.contact .flexContact{
    padding: 2em;
}

.flexContact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


/* Footer */

footer{
    background-color: var(--couleur-header);
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Global */


.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logo{
    width: 32px;
    height: 32px;
    object-fit:scale-down;
}
