@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


body{
    --couleur-header: #2b92b1; 
    --couleur-header-fonce: #257f9b;
    --couleur-fond: #f6f7ec;
    --couleur-fond-fonce: #dddccf;

    padding: 0;
    margin: 0;
    height: 100vh;
    font-size: 16px;
    color: black;
    background-color: var(--couleur-fond);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    min-width: 600px;
    background-image: url("/images/backgroundTest.png");
    background-repeat: repeat;
}

h1, h2, h3, h4, p{
    padding: 1em 0;
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}

a{
    display: inline-block;
    text-decoration: none;
    color: black;
}

/* Button vers top */

.topButton{
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    border: 1px white solid;
    background-color: var(--couleur-header);
    color: white;
    border-radius: 2em;
    padding: 0.5em;
    cursor: pointer;
}


/* Header */
header{
    padding: 1em;
}

header h1{
    padding: 0.1em;
    font-size: 3em;
    font-weight: 400;
}

header h3{
    padding: 1em;
    font-style: italic;

}

header nav{
    padding: 0.5em;
}

header img{
    padding: 0.5em;
    height: 200px;
    width: 200px;
}

header nav a, a:link, a:visited{
    color: black;
    padding: 1em;
    border-radius: 0.5em;
}

header nav a:hover{
    color: white;
    background-color: var(--couleur-header);
    transition: 0.5s;
}

header nav a.active{
    color: white;
    background-color: var(--couleur-header-fonce);
}

header div.filet{
    height: 0.5px;
    width: 60vw;
    background-color: var(--couleur-header);
    margin: 1em auto;
}

/* Main */

main{
    min-height: 80vh;
}

main h2{
    font-size: 2em;
    padding: 1em;
}

main .arianne{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .arianne a{
    padding: 0em;
}

main .arianne *{
    padding: 0 0.2em;
}

main .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80vw;
    margin: 0 auto 2em auto;
}

main .item{
    width: 20em;
    background-color: white;
    padding: 1em;
    margin: 1em;
    box-shadow: 1px 1px 2px 1px #a3a3a3;
    border-radius: 0.5em;
}

main .item:hover{
    transform: scale(1.02);
    transition: transform 0.5s;
}

main .item img{
    height: 250px;
    width: 250px;
    object-fit: cover;
}

main .item h4{
    font-weight: bold;
    font-size: 1.2em;
    padding: 1em;
}

.listeProjet{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--couleur-header-fonce);
    border-radius: 1em;
    margin: 0 auto;
    width: 40vw;
}

.listeProjet a{
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 0.5em;
}

.listeProjet a:hover{
    background-color: var(--couleur-header);
}


/* Section propos */

section.propos article{
    display: flex;
    justify-content: center;
    padding: 2em 5em;
}

section.propos article.resume{
    text-align: left;
    align-items: center;
    width: 70vw;
    margin: 0 auto;
}

section.propos img{
    height: 250px;
    width: 250px;
}

section.propos article{
    text-align: left;
}

section.propos h3 {
    font-size: 1.5em;
    padding: 0 2em;
    color: var(--couleur-header);
}

section.propos h4 {
    font-size: 1.3em;
    padding: 0 2em;
}

section.propos p {
    padding: 1em 3em;
}

section.propos ul{
    padding: 0;
}

section.propos li{
    list-style: none;
    padding: 0.5em;
}

section.propos > h3 {
    padding: 1em 0;
}

section.propos .competence{
    text-align: center;
    padding: 0 2em;
}

section.propos article.competences{
    flex-wrap: wrap;
    margin-bottom: 3em;
}

/* Section projet */

section.projet{
    display: flex;
    justify-content: center;
    text-align: left;
    width: 80vw;
    min-width: 900px;
    margin: 2em auto;
}

section.projet img{
    width: 50%;
    height: 400px;
    object-fit: contain;
}

section.projet>div{
    width: 40vw;
    min-width: 450px;
}

section.projet p{
    padding: 1em 2em;
}


section.projet h3{
    padding: 1em 2em;
}

section.projet>a{
    height: 0;
}

section.projet div>a{
    padding: 1em 2em;
    margin: 2em;
    background-color: var(--couleur-header);
}

section.projet span{
    border: 1px white solid;
    background-color: var(--couleur-header);
    color: white;
    border-radius: 2em;
    padding: 0.3em;
}

section.flex{
    padding: 1em;
    margin-bottom: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.flex img{
    width: 200px;
    height: 200px;
    margin: 1em;
    position: relative;
    object-fit: contain;
}

section.flex img:hover{
    transform: scale(3.5);
    transition: transform 0.5s, margin-bottom 0.5s;
    margin-bottom: 10em;
    z-index: 99;
}

section>img{
    padding: 1em 0;
}

/* Section contact */

section.contact{
    width: 70vw;
    margin: 1em auto;
    border-radius: 5em;
}

section.contact p{
    padding: 1em;
}

section.contact p.adresse{
    color: var(--couleur-header);
    width: min-content;
    margin: 1em auto;
}

section.contact .logo{
    height: 20px;
    width: 20px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1em;
}

section.contact .gitHub{
    height: 20px;
    width: 170px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section.contact .cv{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
}


/* Footer */

footer{
    background-color: var(--couleur-header);
    padding: 1em;
}

footer p{
    padding: 0em;
}

/* Global */


.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
